/build
/.svelte-kit
/package
.env
.env.*
.DS_Store
!.env.example

vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.vscode
node_modules

.idea

# pnpm, yarn, and npm lock files
pnpm-lock.yaml
yarn.lock
package-lock.json


